body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgb(140, 184, 131);
}

#root {

    text-align: center;
    font-size: 50px;
    color: blue;

}

#boxgame {
    margin: 20px 0;


}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 15px;
    justify-content: center;

}

.cardStyle {
    width: 100px;
    height: 100px;
    border: 1px solid #f5f2f2;
    cursor: pointer;
    position: relative;
    background-color: #f8cf82;

}

.cardStyle img {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.cardStyle.show img {
    display: block;

}

#time {

    color: white;
    border-style: groove;
    margin-left: 15px;
    margin-right: 13px;



}