/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* FIM RESET GLOBAL */


#body {
    background-color: aqua;

}

#root {

    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;


}

#boxgame {

    display: grid;
    grid-template-columns: repeat(2, 480px);
    grid-template-rows: repeat(2, 420px);
    gap: 10px;
    border-style: double;
    border-color: brown;
    color: white;
    margin-left: 480px;
    margin-right: 455px;




}

#quarter1 {
    background-color: blueviolet;

}

#quarter2 {
    background-color: blue;
}

#quarter3 {
    background-color: green;
}

#quarter4 {
    background-color: orange;
}